.AppointmentsContainer {
   
}
.calendarSection {
    padding: 50px;
    background-color: white;
    margin: auto;
}

.currentDateAppointmentsArea{
    padding: 50px;
    background-color: white;
    margin: auto;
}